/*Estilos generales*/

* {
    box-sizing: border-box;
}

body {
    background-color: aliceblue;
}

.container {
    background-color: #fff;
    padding: 1em;
    border-radius: 10px;
}


.jumbotron {
    background-color: beige;
    padding: 0.5em 1em;    
}

.resaltada {
    border: solid 2px red;
}

.img-ico {
    width: 5%;
    height: auto;
}

.spn-ico {
    font-size: 1em;
    color: brown;    
}

.lnk-ico {
    cursor: pointer;
}

.lnk-ico:hover {    
    /*color: crimson; */
    color: #fff;
    background-color: brown;
    padding: 0.4em;
    border-radius: 10px;
}