/*Estilos generales*/

* {
    box-sizing: border-box;
}


.jumbotron {
    background-color: beige;
    padding: 0.5em 1em;    
}

.resaltada {
    border: solid 2px red;
}

.img-ico {
    width: 5%;
    height: auto;
}

