/*Estilos generales*/

* {
    box-sizing: border-box;
}

body {
    background-color: aliceblue;
}

audio, video {    
    width: 50%;
    height: auto;
}

audio {
    margin-top: 4em;
}

.container {
    background-color: #fff;
    padding: 1em;
    border-radius: 10px;
}

.col-cards-container {
    margin-bottom: 1em;
}
.png-ico {
    width: 4em;
    height: auto;
    cursor: pointer;
 
}

.png-ico:hover {    
    filter:contrast(200%);
}

.item-hide {
    display: none;
}



.jumbotron {
    background-color: beige;
    padding: 0.5em 1em;    
}

.resaltada {
    border: solid 2px red;
}

.img-ico {
    width: 5%;
    height: auto;
}

.spn-ico {
    font-size: 1em;
    color: brown; 
    cursor: pointer;
    margin: 1em;   
}

.lnk-ico {
    cursor: pointer;
}

.lnk-ico:hover {    
    /*color: crimson; */
    color: #fff;
    background-color: brown;
    padding: 0.4em;
    border-radius: 10px;
}